.button {
 -fx-text-fill: white;
 -fx-font-weight: bold;
 -fx-background-color: linear-gradient(rgb(122, 0, 69), pink);
}

.root {
-fx-background-color: linear-gradient(pink,rgb(122, 0, 69));
}
.Text {
-fx-font-size: 32px;
-fx-font-family: Arial;
-fx-fill: rgb(85,87,83);
}